<br>
<div class="row">
    <div class="col-xs-12">
        <button type="button" placeholder="Heroes" class="btn btn-default" ng-model="selectedHero" data-multiple="true" data-sort="false" bs-options="hero.value as hero.label for hero in ctrl.heroes" bs-select>
            Action <span class="caret"></span>
        </button>
        <button type="button" placeholder="Versions" class="btn btn-default" ng-model="selectedVersion" data-multiple="true" data-sort="false" bs-options="version for version in ctrl.versions" bs-select>
            Action <span class="caret"></span>
        </button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Average Statistics for the {{ ctrl.filtered.length || 0 }} Selected Matches</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.length || 0}}</h3>
                        <h5>Duration</h5>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.kills || 0 | number:2}}</h3>
                        <h5>Kills</h5>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.deaths || 0 | number:2}}</h3>
                        <h5>Deaths</h5>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.assists || 0 | number:2}}</h3>
                        <h5>Assists</h5>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.cs || 0 | number:2}}</h3>
                        <h5>Assists</h5>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.denies || 0 | number:2}}</h3>
                        <h5>Assists</h5>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.gpm || 0 | number:0}}</h3>
                        <h5>GPM</h5>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.xpm || 0 | number:0}}</h3>
                        <h5>XPM</h5>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.apm || 0 | number:0}}</h3>
                        <h5>APM</h5>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.wards || 0 | number:2}}</h3>
                        <h5>Wards</h5>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.herodmg || 0 | numeraljs:'0.0a' }}</h3>
                        <h5>HeroDMG</h5>
                    </div>
                    <div class="col-md-1 col-xs-2">
                        <h3>{{ctrl.averages.bdmg || 0 | numeraljs:'0.0a' }}</h3>
                        <h5>TowerDMG</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table id="history" class="table table-header table-condensed">
                <thead>
                    <tr>
                        <th class="text-center">Hero</th>
                        <th class="text-center">K</th>
                        <th class="text-center">D</th>
                        <th class="text-center">A</th>
                        <th class="text-center">KDR</th>
                        <th class="text-center">GPM</th>
                        <th class="text-center">XPM</th>
                        <th class="text-center">APM</th>
                        <th class="text-center">HD</th>
                        <th class="text-center">TD</th>
                        <th class="text-center">+/-</th>
                        <th class="text-center">Date</th>
                        <th style="text-align:left" class="text-center">Items</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="match in ctrl.filtered | orderBy:'-date' | limitTo:100 track by match.match_id" ng-click="ctrl.goMatch(match.match_id)" ng-class="{matchloss: !match.win, matchwin: match.win}">
                        <td><img ng-src="//www.heroesofnewerth.com/images/heroes/{{ ::match.hero_id }}/icon_128.jpg" width="30">{{ ::match.level }}</td>
                        <td>{{ ::match.kills }}</td>
                        <td>{{ ::match.deaths }}</td>
                        <td>{{ ::match.assists }}</td>
                        <td>{{ ::match.kdr | number:2 }}</td>
                        <td>{{ ::match.gpm | number:0 }}</td>
                        <td>{{ ::match.xpm | number:0 }}</td>
                        <td>{{ ::match.apm | number:0 }}</td>
                        <td>{{ ::match.herodmg | numeraljs:'0.0a' }}</td>
                        <td>{{ ::match.bdmg | numeraljs:'0.0a' }}</td>
                        <td>{{ ::match.mmr_change | number:1 }}</td>
                        <td am-time-ago="match.date"></td>
                        <td style="text-align:left">
                            <a ng-repeat="item in match.items track by $index" href="/item/{{ ::item }}/" ng-if="item">
                                <img ng-src="assets/images/items/{{ ::item }}.jpg" width="30">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
